.input{
    display: flex;
    flex-direction: column;
}

.input input{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    border-color: #8d8d8d;
    background-color: transparent;
    font-family: arial;

}
.input label{
    font-size: 0.9rem;
    font-family: arial;
    color: #434343 ;
    font-weight: bold;
    margin: 10px 0 3px 0;
}

.input input:focus{
    border: 2px solid #e7a3fa;
    outline:none;
}