.message{
    text-align: center;
    font-size: 0.9rem;
    font-family: arial;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1em;
    border-color: #8d8d8d;
    color:#8d8d8d;
    background-color: transparent;
    font-family: arial;
    width: 100%;
    margin: 0 auto;
}

.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb ;
}

.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}